.slider {
  &__section {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    @media (min-width: 769px) and (max-width: 992px) {

    }
    @media (max-width: 768px) {
  
    }
  }
  &__container {
    width: 100%;
    @media (min-width: 769px) and (max-width: 992px) {

    }
    @media (max-width: 768px) {
  
    }
  }
  &__img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
    border-radius: 20px;
    @media (min-width: 769px) and (max-width: 992px) {

    }
    @media (max-width: 768px) {
  
    }
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: 769px) and (max-width: 992px) {

    }
    @media (max-width: 768px) {
  
    }
    &__img {

      @media (min-width: 769px) and (max-width: 992px) {

      }
      @media (max-width: 768px) {
    
      }
    }
  }
  &__index {
    
    @media (min-width: 769px) and (max-width: 992px) {

    }
    @media (max-width: 768px) {
  
    }
  }
}

.back {

  @media (min-width: 769px) and (max-width: 992px) {

  }
  @media (max-width: 768px) {

  }

}

.next {

  @media (min-width: 769px) and (max-width: 992px) {

  }
  @media (max-width: 768px) {

  }

}

.notfound {
  
  @media (min-width: 769px) and (max-width: 992px) {

  }
  @media (max-width: 768px) {

  }
}