$primaryColor: #FF6060;
$secondaryColor: #FFFFFF;
$proprioCircleColor: #C4C4C4;

$starOffColor: #E3E3E3;

$footerColor: #000000;

$bkgTextColor: #F6F6F6;
$bkgThumbsColor: linear-gradient($primaryColor 50%, $footerColor);